* {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #5c5c5c, #616472, #666c88, #69749f, #69749f, #69749f, #6b8ee6, #6897ff);
  /* background-color: #ccc; */
}



header {
  background-color: #0039a6;
  color: #fff;
  padding: 3px 0;
  position: sticky;
  top: 0;
  z-index: 1000;

}

nav {
  height: 80px;
  width: 100%;
}


.logo {
  color: #EAF6F6;
  font-size: 35px;
  line-height: 70px;
  padding: 0 15px;
  font-weight: bold;
}

sup {
  font-size: 10px;
}


nav ul {
  text-transform: uppercase;
  list-style-type: none;
  padding: 10px;
  float: right;
  /* margin-right: 20px; */
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  /* padding: 7px 13px; */
  border-radius: 3px;
}

a:hover {
  font-weight: bold;
  background: #1a1f71;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #EAF6F6;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}

#check {
  display: none;
}



ul input {
  border-radius: 6px;
}


ul input[type="text"] {
  padding: 2px 12px;
}



ul span {
  margin: 0 10px;

}


@media (max-width:960px) {
  lable.logo {
    font-size: 25px;
  }

  nav ul li a {
    font-size: 16px;
  }
}


@media (max-width:950px) {

  .checkbtn {
    display: block;
    margin-left: 10px;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #5c5c5c;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s;

  }


  nav ul li {
    display: block;
    margin: 40px 0;
    line-height: 10px;
  }

  nav ul li a {
    font-size: 25px;
  }

  a:hover {
    background: none;
  }

  #check:checked~ul {
    left: 0;
  }

  ul input[type=text] {
    padding: 15px 25px;
    margin-left: 45px;

  }

  nav>ul>span>.fa {
    padding: 5px;
    font-size: 30px;

  }

  input[type="text"]::placeholder {
    color: #999;
    font-style: italic;
    font-size: 20px;
  }




}





/* .search {
  display: flex;
  align-items: center;
  float: right;
}

.search button {
  font-weight: bold;
}

.search input {
  width: 10vw;
  height: 27px;
  border-radius: 2px;
  margin: 0 10px 0 2px;
  padding: 0 12px;
} */






section {
  padding: 20px;
}




.aboutMain {
  display: flex;
  justify-content: space-evenly;
}

.about h1 {


  width: 420px;

  font-size: 3.5rem;
  margin-top: 60px;
}


.login-container {
  /* background-color: #fff; */
  padding: 100px;
  /* border-radius: 100px; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  margin-left: 50px;
  /* background: linear-gradient(90deg, #5c5c5c, #616472, #666c88, #69749f, #6b7db6, #6c85ce, #6b8ee6, #6897ff); */

}

.login-container form {
  max-width: 200px;
  margin: 0 auto;
}

.login-container form h2 {
  margin-top: 0;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

/* .login-container form label {
    display: inline-block;
    font-weight: bold;
  } */

.login-container form input[type="text"],
.login-container form input[type="email"],
.login-container form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container form button {
  width: 100%;
  padding: 10px;
  background-color: #0039a6;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.login-container form button:hover {
  color: #0039a6;
  background-color: #eff;
}

body>section>div.login-container>div>p>a:hover {
  color: white;
}

.register-link {
  margin-top: 15px;
  text-align: center;
}

.register-link a {
  color: #1a1f71;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}


.download-buttons {
  /* order: -3; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  font-size: 20px;
}


.download-button {
  /* margin:0 auto ; */
  margin-bottom: 10px;
  /* background-color: #007bff; */

  color: #fff;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 15px;
  text-decoration: none;
  /* display: inline-block; */
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #0056b3;
}

.docImage img {
  /* margin-right: 50px; */
  width: 400px;
  /* border-radius: 100px; */
  height: 620px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */


}


/* blogs */

.blog {
  text-align: justify;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}



.blog p {
  color: white;
  /* color:#3f3f3f; */
  text-transform: none;
}

.blog a {
  color: #0039a6;
  text-decoration: none;
}

.blog a:hover {
  border: 1px dashed #1a1f71;
  background-color: whitesmoke;
}

/* .blog h2{
  margin: 20px;
} */







/* medicine */

.container {

  margin: 0px;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  scrollbar-width: none;
  scrollbar-color: #616472 #0039a6;
  /* Thumb color and track color */
}

.medicine {
  margin: 0 10px;
  background-color: lightgray;
  height: 40px;
  padding: 5px;
  margin: 30px 10px 10px 10px;
}

.container .card {
  /* max-width: 100vw; */
  margin: 37px auto;
  height: 500px;
}

.cards {
  display: flex;
  text-align: center;
}

.card-item {
  padding: 20px;
  border-radius: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 15px;
  height: 425px;
  background-color: slategray;
}

.card-item img {
  width: 180px;
  height: 220.025px;
}

.card-item:hover {
  transform: translateY(5px);
}


.Buy-button {

  margin-bottom: 10px;
  background-color: #007bff;

  color: #fff;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}











/* appointment */


.appoinment>h2 {

  background-color: lightgray;
  height: 40px;
  padding: 5px;
  margin: 30px 0px 10px 0px;

}


.flex-container {
  display: flex;
  justify-content: space-around;
  /* margin: 0 0 25px 0; */
}

.flex-container .card {
  margin: 0 0 25px 0;

  width: 18rem;
}

.flex-container .card img {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  margin-top: 10px;
}

.card-body .btn {
  text-align: center;
  padding: 10px 15px;
  color: #bfc2e1;
  background-color: #0039a6;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid white;
}

.card-body .btn:hover {
  font-weight: bold;
}

/* 
    a .cardButton {
      margin-top: 30px;
  }
   */


/* .card-body>a {
    margin-top: 30px;
} */




/* contact */

.contact-h2 {
  background-color: lightgray;
  height: 40px;
  padding: 5px;
  margin: 30px 10px 10px 10px;
}

.contact-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0 0 10px 10px;

}

.contact-text {
  margin-left: 50px;
  line-height: 31px;
}

.contact-form {
  margin-right: 100px;
  line-height: 20px;
  margin-left: 10px;

}


.contact-form input {
  height: 40px;
  padding: 5px;
  width: 40vw;
  border-radius: 8px;
  border: none;
}


.contact-form textarea {
  border: none;
  height: 100px;
  resize: none;
  width: 40vw;
  border-radius: 8px;

}

.contact-section form button {
  width: 100px;
  padding: 10px;
  background-color: #0039a6;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  /* position: relative;
  left: 31vw; */
}

.contact-section form button:hover {
  color: #0039a6;
  background-color: #eff;
}

div.feedback-info a {
  text-decoration: none;
  color: blue;
  font-weight: bolder;
}





/* footer */



footer {
  background-color: #0039a6;
  color: #fff;

}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  background-color: #6897ff;
  padding: 20px 0;

}



/* responsiveDesign : mediaQuery */


/* @media (max-width: 992px) {
 .about{
  display: flex;
  flex-direction: column;
 }
 .about img{
 }
} */


@media (min-width:1440px) {
  .card-item {
    /* height: 30vh; */
  }
}


@media (max-width:1200px) {
  .login-container {
    width: 40%;
  }

  .download-buttons {
    width: 15%;
  }

  .download-button {
    border-radius: 15px;
    padding: 17px;
    width: 16vw;
    height: 6vh;
    font-size: 20px;
  }

  /* .card-item {
    height: 65vh;
  } */
}



@media (max-width: 1063px) {
  /* .about {
      display: flex;
      flex-direction: column;
      align-items: center;
  } */
  /* .login-container{
    width: 50%;
  } */
  /* 
  .docImage {
      order: -2; */
  /* margin-bottom: 20px;
  } */

  /* .docImage img {
      width: 100%;
  } */
  /* 
  .download-buttons {
    order: -1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    
  } */


  .
  
  card-item {
    /* height: 70vh; */
  }


  .download-button {
    height: 8vh;
    font-size: 22px;
    width: 195px;
    margin-bottom: 10px;
    /* background-color: #007bff; */
    color: #fff;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 15px;
    text-decoration: none;
    /* display: inline-block; */
    transition: background-color 0.3s ease;
  }

  .download-button:hover {
    background-color: #0056b3;
  }

  .login-container {
    width: 545px;
    height: 620px;
    margin-left: 0px;
  }


  .contact-text {
    margin-left: 40px;
    line-height: 31px;
  }

  .contact-form {
    margin-right: 80px;
    line-height: 20px;
    margin-left: 10px;

  }


  .contact-form input {
    height: 40px;
    padding: 5px;
    width: 40vw;
    border-radius: 8px;
    border: none;
  }


  .contact-form textarea {
    border: none;
    height: 100px;
    resize: none;
    width: 40vw;
    border-radius: 8px;

  }


}



@media (max-width: 900px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutMain h1 {
    width: 230px;
    font-size: 2.5rem;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
  }

  .contact-form {
    margin-left: 60px;
    line-height: 22px;
    margin-bottom: 10px;

  }


  .contact-form input {
    height: 40px;
    padding: 5px;
    width: 75vw;
    border-radius: 8px;
    border: none;
  }


  .contact-form textarea {
    border: none;
    height: 100px;
    resize: none;
    width: 75vw;
    border-radius: 8px;

  }





}

@media (max-width: 650px) {
  .about {
    width: 100%;
    margin: 0 auto;

  }


  .aboutMain {
    display: flex;
    flex-direction: column;
  }

  .aboutMain h1 {
    margin-left: 80px;
    width: 350px;
  }

  .download-buttons {
    margin-left: 80px;
  }


  .docImage img {
    /* width:65vw; */
    width: 390px;
  }

  .login-container {
    width: 75vw;
  }




}


@media (max-width: 450px) {
  .aboutMain h1 {
    width: 290px;
    margin-left: 30px;
  }

  .download-buttons {
    margin-left: 30px;
  }

  .docImage img {
    /* width:65vw; */
    width: 300px;
  }

  .blog {
    font-size: 1.5rem;
  }

  .flex-container .card {
    width: 15rem;
  }
}

@media (max-width: 400px) {
  .logo {
    font-size: 30px;
  }

  .docImage img {
    /* width:65vw; */
    width: 300px;
  }

  .blog {
    font-size: 1.3rem;
  }

  .contact-text {
    margin-left: 30px;
  }

  .contact-form {
    margin-left: 35px;
  }

  .flex-container .card {
    width: 13rem;
  }

}